.carpetas__section{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 500px;
    gap: 2rem;
    padding: 2rem;
}
.carpetas__list{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    min-height: 300px;
    width: 80%;
    margin: 0;padding: 0;
}
.carpeta__link{
    background: white;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: .2s;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-decoration: none;
    color: var(--color-secundario);

}
.carpeta-card {
    
    transition: .2s;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carpeta-card:hover {
    transform: translateY(-5px);
}

.carpeta-card__title {
    font-size: 1.25rem;
    font-weight: 700;
}


.folder__img{
    height: 200px;
    width: 100%;
    border-radius: 1rem;
}

@media( max-width: 768px){
    .carpetas__list{
        width: 100%;
        flex-direction: column;
        
    }
    .carpeta__link{
        width: 100%;
    }
}