* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background: var(--color-primario);
    color: #fff;
}

.header__top,
.header__nav {
    width: 100%;
    display: flex;
    height: 2.5rem;
    align-items: center;
}

.header__top {
    justify-content: space-between;
    padding: 0 15%;
}

.header__top .gov__icon {
    height: 90%;
}

.header__actions {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.action-btn {
    height: 60%;
    aspect-ratio: 1/1;
}

.action-btn .icon {
    width: 100%;
}

.login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-btn h3 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.nav__btn {
    display: none;
}

/* ============================================= */
/*            BRAND LOGOS Y TITULO               */
/* ============================================= */

.header__brand {
    display: flex;
    flex-direction: row; /* Siempre en fila */
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #fff;
    width: 100%;
    min-height: 9rem;
    padding: 2rem 0;
    flex-wrap: wrap;
}

.header__brand h2 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 1.2rem;
    border-left: 0.3rem solid #e79d19;
    color: #000;
    margin: 0;
    min-width: 120px;
}

.udc__logo {
    width: 94px;
    max-width: 100%;
    min-width: 15%;
    height: auto;
    object-fit: contain;
    display: block;
}
.minTic__logo {
    width: 94px;
    max-width: 23vw;
    min-width: 50px;
    height: auto;
    object-fit: contain;
    display: block;
}

/* ============================================= */
/*       NAVBAR Y DROPDOWN USUAL                 */
/* ============================================= */

.header__nav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.header__nav .nav__option {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    align-self: center;
    height: 100%;
    padding: 0 1rem;
    text-align: center;
}

.nav__option:hover {
    background-color: var(--color-secundario);
}

.dropdown__menu {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-primario);
    border-radius: 0 0 6px 6px;
    opacity: 0;
    transform: translateY(-5px);
    visibility: hidden;
    transition: opacity 0.25s ease, transform 0.25s ease;
    z-index: 100;
}

.nav__item:hover .dropdown__menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.dropdown__menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 0.5rem 0;
}

.dropdown__menu a:hover {
    background-color: var(--color-secundario);
}

.nav__option {
    color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

/* ============================================= */
/*                  RESPONSIVO                   */
/* ============================================= */

/* NO cambiamos a columna en móvil para que SIEMPRE estén alineados en horizontal */
@media (max-width: 768px) {
    .header__top {
        justify-content: space-between;
        padding: 0 1rem;
    }
    .header__top .action-btn {
        height: 50%;
    }
    .gov__icon {
        padding: 0.4rem 0;
    }
    .nav__btn {
        display: block;
    }
    .header__brand {
        gap: 3rem;
        min-height: 7rem;
        padding: 1.2rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .minTic__logo {
        width: 64px;
    }
    .udc__logo {
        width: 50%;
    }
    .header__brand h2 {
        font-size: 1rem;
        border-left: 0.18rem solid #e79d19;
        padding-left: 0.5rem;
        min-width: 80px;
    }
    
}
