.herramientas__section {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.herramientas__header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1.5rem;
}

.repositorios-list {
    width: 100%;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 0.5rem 3rem;
    border-radius: 10rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    color: var(--color-primario);
    gap: 1rem;
    margin: 0;
    text-align: center;
}

.search-icon {
    width: 2%;
    aspect-ratio: 1/1;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(0%)
        hue-rotate(177deg) brightness(92%) contrast(82%);
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: rgba(255, 255, 255, 0.658);
    backdrop-filter: blur(10px);
    border-radius: 3rem;
    padding: 0.8rem 2rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.search-bar input {
    flex: 1;
    border: none;
    background: transparent;
    color: var(--color-primario);
    font-size: 1.1rem;
    outline: none;
}

.search-bar input::placeholder {
    color: rgba(59, 59, 59, 0.7);
}

.filter__btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid var(--color-primario);
    padding: 0.6rem 1rem;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
    color: var(--color-primario);
    display: none;
}

.filter__btn:hover {
    background-color: #eaf1ff;
}

.filter__icon {
    width: 1.2rem;
    opacity: 0.9;
}

/* PANEL DE FILTROS */
.filters-panel {
    position: absolute;
    top: 19.5rem;
    width: 300px;
    color: #000;
    background-color: #ffffff;
    padding: 1.2rem;

    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;

    transition: 0.25s ease-in-out;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filters-panel.visible {
    transform: scaleY(1);
    opacity: 1;
}

.hidden {
    display: none;
}

.filter-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.filter-group label {
    font-size: 0.9rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 0.3rem;
}

.filter-group input,
.filter-group select {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid var(--color-primario);
    padding: 0.4rem 0.6rem;
    border-radius: 8px;
    color: #000;
}

.filters-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    align-items: center;
}

.filters-actions p {
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.filter__option__btn {
    width: 15%;
    border: none;
    padding: 0.6rem;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    background: #f0f0f0;
}
.buscar {
    background-color: var(--color-primario);
    color: #fff;
    transition: ease-in 0.2s;
}
.buscar:hover {
    background-color: var(--color-secundario);
    transform: scale(0.98);
}

.filter__option__btn option {
    background: #f0f0f0;
    border: none;
    padding: 10px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
}

.pagination__title {
    align-self: flex-end;
    font-weight: 600;
}

.herramientas__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: stretch;
}

.page-link {
    color: var(--color-primario) !important;
    background-color: transparent !important;
    transition: all 0.25s ease !important;
}

.page-link:hover {
    background-color: var(--color-secundario) !important;
    color: white !important;
}

.page-item.active .page-link {
    background-color: var(--color-secundario) !important;
    border-color: var(--color-secundario) !important;
    color: white !important;
}

.page-item.disabled .page-link {
    color: #ccc !important;
    border-color: #ddd !important;
    background-color: #f4f4f4 !important;
}

@media (max-width: 768px) {
    .herramientas__header .pagination__title {
        text-align: right;
    }

    .filters-panel {
        position: absolute;
        top: 21rem;
        width: 300px;
        color: #000;
        background-color: #ffffff;
        padding: 1.2rem;

        border-radius: 18px;
        border: 1px solid rgba(255, 255, 255, 0.25);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;

        transition: 0.25s ease-in-out;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .filters-actions {
        flex-direction: column;
    }
    .filter__option__btn {
        width: 100%;
    }
    .search-icon {
        width: 6%;
    }
}
