.info-page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.text__information__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text__information__container .titles__section {
    width: 100%;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20250829/pngtree-atmospheric-technology-line-background-image_18543268.webp");
    background-size: cover;
    background-color: var(--color-primario);
    display: flex;
    min-height: 600px;
    justify-content: space-between;
}

.titles__section .titles__container {
    position: relative;
    top: 100px;
    left: 20%;
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 4rem;
    gap: 1rem;
    color: #fff;
}

.titles__container .categoria {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
}

.categoria img {
    height: 24px;
}

.categoria h3 {
    font-size: 0.9rem;
}

.titles__container h1 {
    font-size: 3rem;
    font-weight: 700;
}

.titles__section .logos__container {
    position: relative;
    top: 10px;
    width: 20%;
    height: 150px;
    right: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logos__container .udc {
    padding-right: 1rem;
}

.logos__container .mintic {
    padding-left: 1rem;

    border-left: 3px solid #fff;
}

.nav__herramienta__section {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-primario);
    justify-content: space-between;
    align-items: center;
}

.info__card__container {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: -105px;
    padding: 0 4rem;
    align-items: stretch;
}

.info__card__container .item__card {
    background-color: #fff;
    box-shadow: 1px 1px 1px #00000031;
    padding: 3rem;
    width: 22%;
    border-radius: 4rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.item__card h3 {
    font-size: 1.2rem;
    font-weight: 700;
}

.item__card p {
    font-size: 0.8rem;
    color: #4e4e4e;
}

.item__card a {
    font-size: 0.8rem;
    font-weight: 700;
}

.item__card ol {
    padding-left: 28px; /* separa un poco más el texto del margen */
    color: #4e4e4e;
    font-size: 0.8rem;
    list-style-type: decimal; /* fuerza la numeración normal */
}

.item__card ol li {
    /* margin-bottom: 12px; */
    line-height: 1.5;
    /* font-weight: 400; */
}

.nav__tool__btn {
    bottom: 0;
    width: fit-content;
    padding: 0.2rem 1rem;
    background-color: #fff;
    color: var(--color-primario);
    border-radius: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 100px;
    transition: ease-in 0.2s;
    text-decoration: none;
}

.nav__tool__btn:hover {
    background-color: rgb(245, 245, 255);
    transform: scale(0.98);
}

/* Colores pastel para cada tarjeta */
.info__card__container .item__card:nth-child(1) h3,
.info__card__container .item__card:nth-child(1) a {
    color: #ff6676;
    /* pastel rosado */
}

.info__card__container .item__card:nth-child(2) h3,
.info__card__container .item__card:nth-child(2) a {
    color: #ff8b07;
    /* pastel durazno */
}

.info__card__container .item__card:nth-child(3) h3,
.info__card__container .item__card:nth-child(3) a {
    color: #50b3ff;
    /* pastel azul */
}

.info__card__container .item__card:nth-child(4) h3,
.info__card__container .item__card:nth-child(4) a {
    color: #00c22a;
    /* pastel verde */
}

/*================PASOS SECTION===============*/

.pasos__section{
    display: flex;
    width: 60%;
    margin: auto;
    flex-direction: column;
    padding: 2rem 0;
}
.section__title{
    font-size: 2.5rem;
    font-weight: 700;
    /* margin-top: 30px; */
    /* margin-bottom: 80px; */
    color: var(--color-primario);
}

.steps-list{
    width: 100%; 
    margin: 0;
    padding: 0;
}
.step-item{
    display: flex;
    width: 100%;
    height: 80px;
    margin-top: 1rem;
    border-radius: 6rem;
    padding: 1rem;
    align-items: center;
    box-shadow: 1px 1px 10px 4px #0000001f;
    gap: 1.5rem;
    transition: ease-out 0.2s;
}
.step-item p{
    margin: 0;
    padding: 0;
}
.step-item:hover{
    transform: scale(1.01);
}
.step-number{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120%;
    aspect-ratio: 1/1;
    background-color: var(--color-primario);
    border-radius: 50%;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}

.video__section {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -250px;
}

.video__container__up {
    width: 60%;
    height: 380px;
    display: flex;
}


.video__container__down {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 390px;
}

.video__container__down {
    /* background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20250829/pngtree-atmospheric-technology-line-background-image_18543268.webp"); */
    background-size: cover;
    /* background-color: var(--color-primario); */
}

.video__container {
    margin-top: -290px;
}

.video__container .video {
    width: 700px;
    height: 455px;
    border-radius: 2rem;
}

@media (max-width: 768px) {
    .titles__section .titles__container {
        left: 1.5rem;
        width: 80%;
        top: 200px;
    }

    .titles__container h1 {
        font-size: 2rem;
    }

    .info__card__container {
        flex-direction: column;
        width: 100%;
        margin-top: 0;
        padding: 1rem;
    }

    .nav__herramienta__section {
        height: fit-content;
        padding: 2rem 1rem;
        gap: 2rem;
    }

    .info__card__container .item__card {
        width: 100%;
        text-align: center;
    }

    .nav__tool__btn {
        margin-bottom: 0;
        font-size: 1.5rem;
        padding: 1rem 2rem;
    }

    .video__section {
        height: fit-content;
        margin: 0;
    }
    .video__container {
        margin: 0;
    }
    .video__container .video {
        width: 100%;
        height: 215px;
        border-radius: 2rem;
    }
    .video__container__up {
        width: 80%;
        display: flex;
        justify-content: center;
        height: 100px;
    }
    .video__container__down {
        height: 225px;
        background-image: none;
        background-color: #fff;
    }
    .pasos__section{
        width: 100%;
        align-items: center;
        
    }
    .steps-list{
        padding: 0 1rem;
        margin-top: 2rem;
    }
    .step-item{
        height: fit-content;
    }
    .step-number{
        width: 20%;
        aspect-ratio: 1/1;
        
    }
    .step-item p{
        font-size: 0.8rem;
        width: 70%;
    }
}
